#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page {
  height: 100vh;
  width: 100%;
}

.game-field {
  display: grid;
  position: relative;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  overflow: hidden;
}

.game-over {
  position: absolute;
  color: rgb(255, 0, 0);
  top: 350px;
  left: 80px;
  font-size: 50px;
  z-index: 1000;
}