.field-cell {
  position: relative;
}

.field-cell::before, 
.field-cell::after {
   content: '';
   position: absolute;
   background-color: rgb(105, 105, 105);
   z-index: 1;
}

.field-cell::after {
  width: 100vw;
  height: 1px;
  left: 0;
  top: -1px;
}

.field-cell::before {
  width: 1px;
  height: 100vh;
  left: -1px;
  top: 0;
}